.titleIniciarSesion{
  text-align: center;
}

.btnLogin, .btnRegister{
  text-align: center;
}

/* .containerFormLogin {
} */

#logo{
  margin-bottom: 15px;
}

h1{
  margin-bottom: 15px;
}
.btn{
  display: block;
  background: #007F3F;
  color: #ffffff;
  padding: 15px;
  font-weight: bold;
  margin: 10px auto;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  max-width: 180px;
  transition: 300ms all;
  border: none;
  cursor: pointer;
}

.btn:hover{
  background: rgb(167, 194, 149);
}


#btnRegistrar{
  text-decoration: none;
}

.cardLoggin{
  width: 30rem;
  box-shadow: 1px 1px 1px 1px grey;
}

textarea, select, input, button { outline: none; }

/* input[type="text"]{
    width: 250px;
    height: 35px;
    border: 1px solid  #ccc;
    padding: 10px;
    margin-bottom: 10px;
    margin: 0px 434px;
    transition: 300ms all;
}

input[type="text"]:focus{
    box-shadow: 0px 0px 5px #d6d6d6 inset;
}

input[type="password"]{
    width: 250px;
    height: 35px;
    border: 1px solid  #ccc;
    padding: 10px;
    margin-bottom: 10px;
    margin: 0px 434px;
    transition: 300ms all;
}

input[type="password"]:focus{
    box-shadow: 0px 0px 5px #d6d6d6 inset;
} */

.error-message {
  color: red;
}