/* -------------------------------------------------------
  # General 
  -------------------------------------------------------*/
.set-middle {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
}

img {
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */

}

.text-left {
    text-align: start;
}

.text-right {
    text-align: end;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
  */
.center-nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

.formStructure {
    text-align: center !important;
    display: flex;
    justify-content: center;
}

.contactForm {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 42px 55px 45px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    --mdb-nav-pills-link-active-bg: #e3ebf7;
    --mdb-nav-pills-link-active-color: #285192;
    background-color: var(--mdb-nav-pills-link-active-bg) !important;
    color: var(--mdb-nav-pills-link-active-color) !important;
}

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding-top: 0.5rem;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 17px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #037f3f;
    white-space: nowrap;
    transition: 0.3s;
    text-decoration: none;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 3px;
    left: 30px;
    background-color: green;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 25px;
}

.art-agregado {
    background-color: #18d26e !important;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: black;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 30px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: white;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #037f3f;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: black;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

.logo {
    padding-top: 1.5rem;
}

a.logo-text {
    text-decoration: none;
    color: #037f3f !important;
}

.img-logo {
    width: 15%;
    margin-right: 1rem;
}

.img-logo-footer {
    width: 25%;
    margin-right: 0rem;
}

.text-footer-parking {
    text-align: justify;
}

.background-banner {
    background-image: url("../images/bannerParkud1.png");
    height: 30rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.backgroundFadeGreen{
    background: rgb(2,152,177);
    background: linear-gradient(90deg, rgba(2,152,177,1) 0%, rgba(60,182,135,1) 50%, rgba(114,211,96,1) 100%); 
}

/* Conocenos */

.text-align-justify {
    text-align: justify;
}

/* captcha */

.captcha {
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
}

/* inputs */

.inputLabel {
    color: green;
    font-weight: bold;
}

.form-control{
    border: var(--bs-border-width) solid #000;
}

/* Tablas */
.dataTables_filter{
    text-align: end;
}

.btn-group{
    text-align: end;
}

.pagination{
    --bs-pagination-active-bg: #007F3F;
}