body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#header {
    height: 120 px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 3px solid #61dafb;
}

.center {
    width: 75%;
    margin: 0px auto;
}

.clearfix {
    clear: both;
    float: none;
}

h1{
    color: #007F3F;
    font-weight: bold;
}

#logo{
    
}
.btn{
    display: block;
    background: #007F3F;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
    margin: 10px auto;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 180px;
    height: 40px;
    transition: 300ms all;
    border: none;
    cursor: pointer;
}

.btn-success{
    background: rgb(71, 168, 5);
}
.btn-danger{
    background: rgb(245, 27, 19);
}

.btn-success:hover{
    background: black;
}
.btn-danger:hover{
    background: black;
}

.inputReg{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
textarea, select, input, button { outline: none; }

/* input[type="text"]{
    width: 250px;
    height: 35px;
    border: 1px solid  #ccc;
    padding: 10px;
    margin-bottom: 10px;
    transition: 300ms all;
}

input[type="text"]:focus{
    box-shadow: 0px 0px 5px #d6d6d6 inset;
}

input[type="password"]{
    width: 250px;
    height: 35px;
    border: 1px solid  #ccc;
    padding: 10px;
    margin-bottom: 10px;
    transition: 300ms all;
}

input[type="password"]:focus{
    box-shadow: 0px 0px 5px #d6d6d6 inset;
} */